header{
    background-color: #f5d7aa;
    text-align: center;
}
body{
    background-color: white;
}
footer {
    background-color: #f5d7aa;
    text-align: center;
    padding: 5px;
}
.logo {
    width: 130px;
}
h1{
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3e2b1c;
}
ul{
    text-align: center;
}