header{
    background-color: #f5d7aa;
    text-align: center;
}
body{
    background-color: white;
}
footer {
    background-color: #f5d7aa;
    text-align: center;
}
.logo {
    width: 130px;
}
h1{
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3e2b1c;
}
p{
    font-family: "Noto Serif", serif;
    text-align: center;
    font-weight: bold;
}
ul li{
    text-align: center;
    font-family: "Figtree", sans-serif;
}
